.navbar {
  height: 80px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;

  .logo {
    width: 140px;
    height: 50px;
  }
  .menu {
    display: flex;
    .item {
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .icon {
        width: 22px;
        margin-bottom: 5px;
      }
      span {
        font-size: 12px;
      }
    }
  }
}
